main{
    background-color: rgb(255, 243, 228);
    height: auto;
    margin-top: 0%;
    margin-bottom: 0%;
}
main img
{
    border-radius: 15%;
}
main h1
{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color:rgb(117, 54, 35);
}
.A > div,
.B > div {
    flex: 1;
    background: rgb(251, 252, 238);  
    padding: 3%;
    margin: 3%;
    border-radius: 5%;
}

.A img,
.B img {
    width: 45%;     
    height: auto;
    object-fit: cover;
}
button
{
color: rgb(252, 249, 217);
background-color: rgb(134, 233, 200);
font-size: small;
padding: 2%;
border-radius: 10%;
}
div.cveado
{
    background-image: url('../../img/chapada-dos-veadeiros.jpg'); 
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    padding: 40px;  
    display: flex;
    align-items: flex-start;
}
div.cveado div
{
    width: 50%;
    border-radius: 10%;
    background-color: blanchedalmond;
}

@media (min-width: 320px) and (max-width: 1023px)
{
  main{padding: 5%;}
    div.cveado
    {
        height: 400px;
        display: flex;
    flex-direction: column;
    align-items: center;     
    justify-content: center; 
    text-align: center;
    padding: 16px;
    }
    div.cveado div
    {
        height: 380px;
    display: flex;
    width: 96%;
    flex-direction: column;
    align-items: center;     
    justify-content: center; 
    text-align: center;
    border-radius: 5%;
    }
    div.cveado div h3{font-size: 1rem;}
    div.cveado div p{font-size: 0.8rem;}
    main h1
    {
    font-size: 5rem;
    }
    main > img {
        width: 98%;
        margin: 1%;
        max-width: 500px;
        flex: 1;
        display: block;
    }
    main h2 {
    width: 100%;
    text-align: center;
    margin: 0 0 12px 0;
    font-size: 2.5rem;
    color:rgb(117, 54, 35);
  }
  h1{margin: 10px;}
main h3
{
    font-size: 2rem;
    color:rgb(117, 54, 35);
} 
main p 
{
    font-size: 1.3rem;
    color:rgb(117, 54, 35);
}
  section.sobre > div {
    border-radius: 5%;
    display: flex !important;     
    flex-direction: column;
    justify-content: space-around;      
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: nowrap;            
    padding: 0 10px;
  }

  section.sobre > div > div {
    width: 100%;
    max-width: 500px;
    flex: 1;
    box-sizing: border-box;
    text-align: center;
    background: rgb(251, 252, 238);  
    padding: 16px;
    border-radius: 15%;
  }

  section.sobre > div > div img {
    width: 100%;
    max-width: 420px;
    flex: 1;
    object-fit: cover;
    display: block;
    margin: 0 auto 6px;
    border-radius: 5%;
  }
    .A, .B {
    display: flex;
    justify-content: center;
    gap: 10px;       
}
 .A{flex-direction: column-reverse;}
 .B{flex-direction: column;}
}
@media (min-width: 1024px) 
{
    div.cveado
    {
        height: 400px;
    }
    div.cveado div
    {
        height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;     
    justify-content: center; 
    text-align: center; 
    }
    main h1
    {
    font-size: 5rem;
    margin:0 50px 0;
    }
    main > img {
        width: 1000px;
        margin: 0 auto 60px;
        display: block;
    }
    main h2 {
    width: 100%;
    text-align: center;
    margin: 0 0 24px 0;
    font-size: 2.5rem;
    color:rgb(117, 54, 35);
  }
main h3
{
    font-size: 2rem;
    color:rgb(117, 54, 35);
} 
main p 
{
    font-size: 1.3rem;
    color:rgb(117, 54, 35);
}
  section.sobre > div {
    border-radius: 15%;
    display: flex !important;     
    flex-direction: row;
    justify-content: space-around;      
    align-items: flex-start;
    gap: 40px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: nowrap;            
    padding: 0 20px;
  }

  section.sobre > div > div {
    flex: 0 0 500px;   
    width: 500px;
    box-sizing: border-box;
    text-align: center;
    background: rgb(251, 252, 238);  
    padding: 16px;
    border-radius: 5%;
  }

  section.sobre > div > div img {
    width: 480px;
    height: 300px;
    object-fit: cover;
    display: block;
    margin: 0 auto 12px;
    border-radius: 15%;
  }
    .A, .B {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;         
}

}
